*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  padding: 1rem;
}

a {
    color: $font-color;
    text-decoration: none;
}